.date_selector_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 50px; */
  font-family: "Markazi Text", serif;
  font-size: 28px;
  /* background-color: #edefee; */
}

.date_selector_date_time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
}

.selector_title {
  color: #495e57;
}

.date_time {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  width: 400px;
  height: 50px;
  margin-left: 15px;
}

.date,
.time {
  background-color: #495e57;
  color: #edefee;
  border: 1px solid #edefee;
  border-radius: 7px;
  padding: 7px;
}

.choose_date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 3rem; */
  /* background-color: #f1f1f1; */
  border-radius: 10px;
  margin-left: 15px;
  /* box-shadow: 0 0 20px rgba(168, 168, 168, 0.15); */
}

input[type="date"] {
  background-color: #495e57;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  margin-left: 15px;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.date_selector {
}

.ocassion_selector {
  background-color: #495e57;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  margin-left: 2px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

@media screen and (max-width: 780px) {
  .date_selector_container {
    font-size: 22px;
    /* padding: 25px; */
  }
  .choose_date {
    flex-direction: row;
  }
  input[type="date"],
  .ocassion_selector {
    font-size: 20px;
  }
}
